{% extends "fandango/base.html" %}
{% load static %}
<link href="{% static "fandango/css/bar-style.css" %}" rel="stylesheet">

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Home</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Movies
                    </h5>
                    <p class="card-text">
                        <a href="{% url "movies-list" %}">{{ movies.count }} Movies</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Theaters
                    </h5>
                    <p class="card-text">
                        <a href="{% url "theaters-list" %}">{{ theaters.count }} Theaters</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
          <div id = "map" style = "width:640px; height:480px;"></div>
          </div>
          <div class="col-md-6">
            <svg width="400"></svg>
          </div>
    </div>
{% endblock %}

{% block script %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1-hCBd1aXuwFLWiFIFk3_aQ3mkq-nYvo&callback=initMap"> </script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="{% static "fandango/js/map.js" %}"></script>
    <script src="{% static "fandango/js/bar.js" %}"></script>
{% endblock %}
