{% extends "fandango/base.html" %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
    <li class="breadcrumb-item active">Movie Detail</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img alt="movie poster" src={{ poster }} style="border-radius: 10px; height: 600px;">
  </div>
  <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Movie Details
            </h5>
            <p class="card-text">
              <ul>
                <li><p>Rating: {{ rating }}</p></li>
                  <li><p>Playing in these theaters:</p> <a href="/theaters/{{ m.th_id }}"><p>{{ theaters }}</p></a></li>
              </ul>
            </p>
        </div>
    </div>
  </div>
</div>



<!-- <div id="containerChart"></div> -->
{% endblock %}

{% block script %}

{% endblock %}
